.terraform/
*.tfvars
__pycache__
*tfstate*
.gcp-service-account-credentials.json
*.env
# Ignore generated credentials from google-github-actions/auth (Google's recommendation in https://github.com/google-github-actions/auth?tab=readme-ov-file#prerequisites)
gha-creds-*.json
*.pub
