<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='CatFavicon.png') }}">
    <!--
        Set a link to a stylesheet as you would for any CSS file, but use the url_for method to be rendered by Flask when initializing the webapp,
        the argument for the static folder and the name of the file itself need to be set.
    -->
    <title>BuckCat v4.0</title>

    <!-- Open Graph Tags for banners for websites and chat applications. -->
    <meta property="og:title" content="BuckCat 4.0" />
    <meta property="og:description" content="It's a bucket, with cats, a buckcat if you will." />
    <meta property="og:image" content="{{ url_for('static', filename='Buckcat.png') }}" />
    <meta property="og:url" content="https://buckcat.info/" />
    <meta property="og:type" content="website" />
</head>
<body>
    <div id="Title">
        <h1>Hello User!</h1>
    </div>
    <div id="Main">
        <div id="LeftSide">
            <div>
                <img src="https://tenor.com/view/this-is-a-bucket-team-fortress-tf-gif-15812649" id="ThisIsABucket">
            </div>
            <div>
                <h2>This bucket has cats in it!! (Now on GCP with Terraform)</h2>
            </div>
            <div id="CatFormDiv">
                    <form method="post" action="/request_cat" id="CatForm">
                        <input type="hidden" name="animal" value="cat">
                        <input type="submit" class="CatButton" value="Generate Cat">
                    </form>
            </div>
            <div>
                <p>
                    <h3>What's happening here? Click <a href="/explanation">here</a> to find out!</h3>
                </p>       
            </div>
        </div>
        <div id="CatBox">
            <p>
                {% if url %}
                <img src="{{ url }}" id="CatPic">
                {% endif %}
            </p>
        </div>
    </div>
</body>
</html>
